*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    font-family: 'Gilroy';
=======
>>>>>>> ae1500af7994805ca84e868c8ed376e9a12c6df1

}
#nav h2{
    
    height: 100%;
<<<<<<< HEAD
    width: 22%;
=======
    width: 20%;
>>>>>>> ae1500af7994805ca84e868c8ed376e9a12c6df1
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
<<<<<<< HEAD
    font-size: 22px;
    font-weight: 600;
=======
>>>>>>> ae1500af7994805ca84e868c8ed376e9a12c6df1
}
#nav h1{
    
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    font-family: monument;
}
#nav h2:nth-last-child(1){
    width: 10%;


=======
>>>>>>> ae1500af7994805ca84e868c8ed376e9a12c6df1
}